# 01 Основы языка Python

Рассмотрим принципы работы с языком, арифметические операции, вывод на экран.

# 1. Очень простые «программы»
## 1.1 Запуск Python из командной строки
Чтобы выполнить фрагменты кода, мы можем запустить Python из командной строки. В этом блокноте Jupyter мы собираемся смоделировать это. Вы можете вводить команды в поля и выполнять их.
В поле введите:

`print('Hello, World')`

Затем нажмите `<shift> + <return>`, чтобы выполнить команду.

In [1]:
print ("Hello, World')|")

Hello, World')|

Что случилось?

Вы только что создали программу, которая печатает слова «Hello, World». Среда Python, в которой вы находитесь, немедленно компилирует все, что вы ввели. Это называется интерпретатор языка.

## 1.2 Математика в Python
Наберите в ячейке
`1 + 1`
и выполните код. (см. п. 1.1.)

In [2]:
1+1

2

Теперь введите

`20 + 80`

выполните код.

In [3]:
20+80

100

Попробуйте и другие операции

`+` сложение

`-` вычитание

`*` умножение

`/` деление

In [4]:
20-16

4

In [5]:
20*11

220

In [7]:
20/4

5.0

Существует операция возведения в степень: $5^2 = $ `5 ** 2`. Попробуйте вычислить в строке ниже.

In [8]:
5**2

25

Операции деления с остатком:

// - целая часть от деления

% - остаток от деления

Посчитайте `7//3`, `11%4`

In [9]:
6//8

0

## 1.3 print - вывод на экран

Рассмотрим синтаксис этой функции. Самый простой пример:

`print()`

Даже если функция не получает никаких аргументов, все равно необходимо вставлять после названия пустые скобки, что значит для интерпретатора выполнить функцию, а не просто ссылаться на нее.

В результате этого будет выведен неотображаемый символ пустой строки, она появиться на экране, не нужно путать это с пустой строкой, в которой вообще нет никаких символов.

Но чаще всего нужно передать какое-то сообщение пользователю, к примеру:

`print('Your message here')`

Следующий пример – вывод строкового значения из переменной:

`message = 'Hello world'`

`print(message)`

In [14]:
print('Your message here')

Your message here

Выведем разные типы данных:


```
print('one', 'two', 'three')  # str

print(42)  # int

print(3.14)  # float

print(True)  # bool

print([1, 2, 3])  # list

print({'red', 'green', 'blue'})  # set

print({'name': 'Alice', 'age': 42})  # dict

print((1, 2, 3))  # tuple
```

In [15]:
# Вывод строк (str)
print('one', 'two', 'three')

# Вывод целого числа (int)
print(42)

# Вывод числа с плавающей точкой (float)
print(3.14)

# Вывод булевого значения (bool)
print(True)

# Вывод списка (list)
print([1, 2, 3])

# Вывод множества (set)
print({'red', 'green', 'blue'})

# Вывод словаря (dict)
print({'name': 'Alice', 'age': 42})

# Вывод кортежа (tuple)
print((1, 2, 3))

one two three
42
3.14
True
[1, 2, 3]
{'blue', 'green', 'red'}
{'name': 'Alice', 'age': 42}
(1, 2, 3)

Вы также можете распечатать переменные, просто разделив их запятыми
```
name = "Аделаида"
print("Привет", name, "как дела?")
```

In [16]:
# Определение переменной
name = "Аделаида"

# Вывод текста и переменной
print("Привет", name, "как дела?")

Привет Аделаида как дела?

#1.4 Комментарии

Комментарий это строка кода, которая не выполняется. Служит для разных пояснений. Выполните следующий код:

`# I am a comment. Fear my wrath!`

In [17]:
# I am a comment. Fear my wrath!
print("This code will run, but the comment above will not.")

This code will run, but the comment above will not.

Комментарий — это фрагмент кода, который не запускается. В Python вы добавляете комментарий, помещая перед ним #. # комментирует все, что находится после него в строке, и ничего перед ним. Попробуйте:

`print("food is very nice") #eat me`

In [18]:
print("food is very nice")  # eat me

food is very nice

# 1.5 Приоритет операций

Помните ту штуку, которую учили на уроках математики, под названием "порядок действий"? Что ж, это применимо и к Python. Вот оно, если вам нужно напомнить:

1. Круглые скобки()
2. Возведение в степень **
3. Умножение *, деление / и остаток %
4. Сложение + и вычитание -

Вот несколько примеров, которые вы можете попробовать:
```
1 + 2 * 3
(1 + 2) * 3
```

In [19]:
result = 10 + 2 ** 3 * 4 - 6 / 2
print(result)  # Вывод: 31.0

39.0

# Задание 1

Используя оператор print выведите на экран небольшой рассказ о себе. Должно быть использовано не менее 8 операторов print.

Пример:

```
print('Привет всем! Меня зовут Аристотель.')
print("Я родился в городе Стагире, греческой колонии в Халкидиках, недалеко от Афонской горы, между июлем и октябрём в первый год ",99," олимпиады." )
print('Я люблю всякие науки, например философию.')
print("Долгими зиминими вечерами я обычно размышляю о физике.", "А потом о метафизике.")
```

In [20]:
print("Привет всем! Меня зовут Регина.")
print("Я родилась в Москве, столице России.")
print("С детства я занималась спортом, а именно художественной гимнастикой.")
print("Я достигла больших успехов в этом виде спорта и имею звание мастера спорта.")
print("В моей жизни есть два замечательных сфинкса: кот и кошка.")
print("Их зовут Опиум и Симба, и они приносят мне много радости.")
print("Я люблю проводить время с ними, играть и заботиться о них.")
print("Моя жизнь наполнена спортивными достижениями и теплом моих питомцев.")

Привет всем! Меня зовут Регина.
Я родилась в Москве, столице России.
С детства я занималась спортом, а именно художественной гимнастикой.
Я достигла больших успехов в этом виде спорта и имею звание мастера спорта.
В моей жизни есть два замечательных сфинкса: кот и кошка.
Их зовут Опиум и Симба, и они приносят мне много радости.
Я люблю проводить время с ними, играть и заботиться о них.
Моя жизнь наполнена спортивными достижениями и теплом моих питомцев.

# Задание 2

Карандаш стоит 18 рублей 45 копеек за штуку. Покупатель дал кассиру 500 рублей и хочет купить 8 карандашей. Какую сдачу он должен получить? Ответ дайте в рублях.

In [21]:
# Стоимость одного карандаша в рублях
price_per_pencil = 18.45

# Количество карандашей
quantity = 8

# Общая стоимость карандашей
total_cost = price_per_pencil * quantity

# Сумма, которую дал покупатель
amount_given = 500

# Расчет сдачи
change = amount_given - total_cost

# Вывод результата
print(f"Сдача: {change:.2f} рублей")

Сдача: 352.40 рублей

# Задание 3

Ребенок в день съедает два творожка. Творожок продается в упаковках по пять штук. Какое наименьшее число упаковок надо купить, чтобы ребенку хватило на две недели?

In [22]:
# Количество творожков в день
creams_per_day = 2

# Количество дней в двух неделях
days_in_two_weeks = 14

# Общее количество творожков на две недели
total_creams = creams_per_day * days_in_two_weeks

# Количество творожков в одной упаковке
creams_per_pack = 5

# Расчет необходимого количества упаковок
packs_needed = (total_creams + creams_per_pack - 1) // creams_per_pack

# Вывод результата
print(f"Необходимое количество упаковок: {packs_needed}")

Необходимое количество упаковок: 6

# Задание 4

Килограмм картошки 32 рубля. У Олега есть 1000 р, из этой суммы он 640 р должен положить на телефон, а на остальные деньги он купил картошку. Сколько килограмм купил Олег, если он получил сдачу 8 рублей?

In [23]:
# Общая сумма у Олега
total_money = 1000

# Сумма, которую он положил на телефон
phone_top_up = 640

# Сдача, которую он получил
change = 8

# Цена за килограмм картошки
price_per_kg = 32

# Расчет суммы, потраченной на картошку
money_spent_on_potatoes = total_money - phone_top_up - change

# Расчет количества купленной картошки
potatoes_kg = money_spent_on_potatoes / price_per_kg

# Вывод результата
print(f"Олег купил {potatoes_kg:.2f} кг картошки.")

Олег купил 11.00 кг картошки.